<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>the result of {{x}} and {{y}} is.....</p>

    <h1>...............................</h1>

    <p>{{result}}.</p>

    {% if result % 2 != 0 %}
    <p>(and that's kinda odd...)</p>
    {% else %}
    <p>(and that's even, I guess...)</p>
    {% endif %}
</body>
</html>