div {
    display: inline-block;
    height: 200px;
    width: 250px;
    background-color: yellow;
}

.button {
    display: inline-block;
    height: 40px;
    margin: auto;
    background-color: bisque;
}

#reset_button {
    display: block;
    height: 40px;
    margin: auto;
    background-color: bisque;
}